{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome back to MALTEM CHAT: <span><i>{{ app.session.user.firstname }}</i></span></h1>
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            <h3 class='panel-title'>Last messages</h3>
        </div>
        <div id="ajax-messages" class='panel-body'>
            {% for message in messages %}
                <p>
                    <span><b>{{ message.user.pseudo }}</b></span>:
                    <span>{{ message }}</span>-
                    <span><b>{{ message.createdAt | date('dd/MM/yyyy h:i:s') }}</b></span>
                </p>
            {% endfor %}
        </div>
    </div>

    <div class='panel panel-default'>
        <div class='panel-body'>
            {{ form_start(form, {
                'action' : path('message_new'),
                'method' : 'POST',
            }) }}
                <div class='row'>
                    <div class='col-md-4'>
                        <b><i>{{ app.session.user.firstname }} :</i></b>
                    </div>
                    <div class='col-md-8'>
                        {{ form_label(form.message) }}
                        <div class="bg-danger">{{ form_errors(form.message) }}</div>
                        {{ form_widget(form.message, {
                            'attr': {
                                'class': 'form-control',
                                'rows': 5,
                            }
                        }) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }};
    <script>{% include('maltemchat/custom.js.twig') %}</script>
{% endblock %}