{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title text-center">
                User login
            </h3>
        </div>
        <div class="panel-body">
            {{ form_start(form, {
                'action' : path('user_login'),
                'method' : 'POST',
                'attr': {
                    'novalidate': 'novalidate'
                },
            }) }}
            <div class="form-group">
                {{ form_label(form.pseudo) }}
                <div class="bg-danger">{{ form_errors(form.pseudo) }}</div>
                {{ form_widget(form.pseudo, {
                    'attr': {
                        'class': 'form-control',
                    }
                }) }}
            </div>
            <button type="submit" class="btn btn-primary" role="button">Connect</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
